<a href="https://colab.research.google.com/github/Abrar26/Python_files/blob/master/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS**

In [ ]:
import pandas as pd
dt=pd.read_csv("txt2.csv")
dt

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           32          7   Snow
4  1/5/2017           24          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
dt.to_csv("new.csv",index=False)